/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require xray
 */

// @import "home", "posts", "scaffolds","users";






 @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
@import "events.scss";
@import "searches.scss";

 body {
   width: 80%;
   margin: auto;
   font-family: 'Montserrat', sans-serif;
 }

header {
  min-height: 100px;

  ul.nav.nav-pills {
    float: right;
    li {padding: 0 14px 8px;}
    + ul.nav.nav-pills {
      float: left;
    }
  }

}

.user_body td, th{
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 15px;
  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
    padding-right: 40px;
  }
}
.pagination span, .post_body_nav li{
 margin-left: 10px;
}

.devise {
padding-left: 30%;
padding-right: 30%;
h2{
  padding-left: 35%;
}
.devise_2{
  padding-left: 5%;
}

}
.comment > div {
  display: inline;

  padding-bottom: 20px;
  padding-left: 15px;
}
.pagination {
  margin-left: 10px;

}
